:root {
  /* COLORS */
  --primary-color: #1d3557;
  --secondary-color: #457b9d;
  --tertiary-color: #a8dadc;
  --grey-color-1: #8d99ae;
  --grey-color-2: #f1faee;
  --optional-color: #e63946;
  --optional-color-2: #d90429;
  /* FONTS */
  --primary-font: Montserrat, sans-serif;
  --secondary-font: "Open sans", sans-serif;
  --logo-font: "Yomogi", cursive;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--grey-color-2);
  font-family: var(--primary-font);
  font-size: 5em;
}

html {
  scroll-behavior: smooth;
}

/* ==================================== NAVBAR ================================== */
.this {
  color: var(--optional-color);
  font-size: 2rem;
  padding-top: 1em;
  text-align: center;
  font-family: var(--logo-font);
  cursor: pointer;
}

.navbar-wrapper {
  display: flex;
  height: 100vh;
  position: relative;
}

.navbar {
  background-color: var(--primary-color);
  width: 25rem;
  height: 100vh;
  position: fixed;
}

.navbar-list {
  margin-top: 1rem;
}

.navbar-list-item {
  font-size: 4rem;
  text-align: center;
  padding: 2.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(225, 225, 225, 0.15);
  transition: all 0.2s;
}

.navbar-list-item:hover {
  background-color: var(--tertiary-color);
  cursor: pointer;
}

.navbar-list-item:hover .navbar-list-link {
  color: var(--optional-color);
  transform: scale(1.1);
  letter-spacing: 0.35em;
}

.navbar-list-link {
  color: var(--grey-color-2);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  display: block;
  transition: all 0.2s;
}

/* =================================== ICONS =================================== */
.social-media {
  border-top: 1px solid rgba(225, 225, 225, 0.15);
  font-size: 6em;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.fa-github-square,
.fa-linkedin,
.fa-facebook-square,
.fa-instagram {
  color: var(--grey-color-2);
}

.fa-github-square:hover,
.fa-linkedin:hover,
.fa-facebook-square:hover,
.fa-instagram:hover {
  transform: scale(1.2);
  transition: all 200ms;
  color: var(--optional-color);
}

/* ================================== WELCOME SECTION ============================= */

#welcome-section {
  margin-left: 25rem;
  width: 100%;
  height: 100vh;
}

.welcome {
  font-size: 6rem;
  margin-top: 8rem;
  text-align: center;
  font-weight: 200;
  color: var(--secondary-color);
}

.underline {
  width: 40%;
  height: 0.3em;
  margin: 0 auto;
  background-color: var(--optional-color);
  margin-top: 0.5em;
  border-radius: 1em;
}

.description {
  margin-top: 2rem;
  display: flex;
}

.image-wrapper {
  margin-left: 2rem;
  align-self: center;
}
.szabi-1 {
  width: 216px;
  height: 100%;
  border-radius: 50%;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
}

.image-name {
  margin-top: 2rem;
  font-size: 5rem;
  color: var(--secondary-color);
}

.welcome-text {
  font-size: 2.5rem;
  margin-left: 2rem;
  margin-top: 6rem;
  line-height: 1.6;
  color: var(--secondary-color);
}

/* =========================== SKILLS SECTION ========================================= */
.skills-section {
  margin-left: 25rem;
  background-color: var(--tertiary-color);
}

.skills-section-title {
  text-align: center;
  padding-top: 1.25em;
  font-size: 6rem;
  color: var(--optional-color);
  font-weight: 200;
}

.skills-underline {
  height: 0.3em;
  background-color: var(--primary-color);
  width: 40%;
  margin: 0 auto;
  border-radius: 1em;
  margin-top: 0.5em;
}

.skills-wrapper {
  width: 60%;
  height: auto;
  margin: 10rem auto 0;
  padding-bottom: 5rem;
}

.loading-bar {
  font-size: 2em;
  color: var(--optional-color);
  letter-spacing: 1px;
  display: inline-block;
  width: 80%;
  margin-bottom: 15px;
  /* add pos relative to place % signs */
  position: relative;
}

.loading-bar span {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 1em;
  border-radius: 5em;
  background-color: var(--primary-color);
}

.loading-bar span::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 6px;
  width: 80%;
  height: 50%;
  background-color: var(--optional-color);
  border-radius: 5em;
  animation: loading 4s ease;
}
/*  make the loading start on scroll down */
@keyframes loading {
  from {
    width: 0;
  }
}

.loading-bar:nth-child(1) span::before {
  width: 90%;
}
.loading-bar:nth-child(2) span::before {
  width: 80%;
}
.loading-bar:nth-child(3) span::before {
  width: 70%;
}
.loading-bar:nth-child(4) span::before {
  width: 55%;
}
.loading-bar:nth-child(5) span::before {
  width: 40%;
}
.loading-bar:nth-child(6) span::before {
  width: 60%;
}

.loading-bar abbr {
  background-color: var(--optional-color);
  color: var(--primary-color);
  display: inline-block;
  width: 2.5em;
  height: 2.35em;
  border-radius: 50px;
  text-align: center;
  line-height: 2.5em;
  position: absolute;
  top: 36px;
  z-index: 1;
  font-size: 1.25rem;
  box-shadow: 0 5px 20px var(--primary-color);
  animation: count 4s ease;
  border: 1px solid var(--primary-color);
}

/* Maybe change this animation - start animation when scroll down, at animation finish card with thext */

@keyframes count {
  from {
    left: 0%;
  }
}

.loading-bar:nth-child(1) abbr {
  left: 90%;
}
.loading-bar:nth-child(2) abbr {
  left: 80%;
}
.loading-bar:nth-child(3) abbr {
  left: 70%;
}
.loading-bar:nth-child(4) abbr {
  left: 55%;
}
.loading-bar:nth-child(5) abbr {
  left: 40%;
}
.loading-bar:nth-child(6) abbr {
  left: 60%;
}

/* ============================================== PROJECTS SECTION =============================== */
#projects {
  margin-left: 25rem;
  backface-visibility: hidden;
  padding-bottom: 10rem;
}

.projects-container {
  backface-visibility: hidden;
}

.projects-section-title {
  text-align: center;
  margin-top: 1.1em;
  font-size: 6rem;
  font-weight: 200;
  color: var(--secondary-color);
}

.projects-underline {
  width: 40%;
  height: 0.3em;
  margin: 0 auto;
  background-color: var(--optional-color);
  margin-top: 0.5em;
  border-radius: 1em;
}

.projects {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-top: 4em;
  background-color: var(--tertiary-color);
  border-radius: 5px;
  display: flex;
  /* backface-visibility: hidden; */
}
/* NOT Working */
.project-image {
  height: auto;
}

/* Remake the images, scale them */
.project-image img {
  width: 100%;
  height: auto;
}

/* backface visibility does not work on animation, resolve it */
.description-wrapper {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}

.project-title {
  font-size: 4em;
  font-weight: 300;
  margin: 1.5em 0;
  color: var(--secondary-color);
}

.project-description {
  font-size: 2.3em;
  margin-bottom: 2em;
  color: var(--secondary-color);
}

.button-container a {
  display: inline-block;
  font-size: 4em;
  margin-bottom: 2em;
  text-decoration: none;
  letter-spacing: 2px;
  color: var(--optional-color);
  /* add the border on hover and scale it up */
  padding: 5px;
  transition: all 0.2s;
  /* backface-visibility: hidden; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}

.button-container a:first-child {
  margin-right: 2em;
}

.button-container a:hover {
  border: 1px solid var(--optional-color);
  box-shadow: 0 1rem 2.5rem rgb(0, 0, 0, 40%);
  transform: scale(1.1);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;

  /* backface-visibility: hidden; */
}

/* ==================================== RESUME SECTION ========================== */
.resume-section {
  margin-left: 25rem;
  padding-bottom: 10rem;
  background-color: var(--tertiary-color);
}

.resume-section-title {
  text-align: center;
  font-size: 6rem;
  color: var(--optional-color);
  font-weight: 200;
  padding-top: 6rem;
}

.resume-underline {
  height: 0.3em;
  background-color: var(--primary-color);
  width: 40%;
  margin: 0 auto;
  border-radius: 1em;
  margin-top: 0.5em;
}

.image-container {
  margin-top: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.image1-container,
.image2-container {
  width: 200px;
  height: 200px;
}

.image1-container img,
.image2-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.about-me {
  text-align: center;
  margin-top: 2rem;
  padding: 4rem;
}

.information-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.information-grid h2 {
  font-size: 3em;
  font-weight: 200;
  text-align: center;
  margin-bottom: 4rem;
}
.work-experience {
  grid-column-start: 1;
  grid-column-end: 6;
}
.education {
  grid-column-start: 6;
  grid-column-end: 12;
}

/*  fix the borders */
.resume-item {
  border-left: 1px solid var(--optional-color-2);
  margin-bottom: 5rem;
}

.resume-item h4 {
  font-size: 2.5em;
  text-align: center;
  padding: 1.5rem;
}

.resume-item h5 {
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
}

.resume-item p {
  text-align: center;
  font-size: 2em;
  font-style: italic;
  padding: 1rem 0;
}

.bartending h5 {
  font-size: 3em;
  font-style: italic;
}

.bartending p {
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
}

.bartending:first-of-type {
  margin-top: 6rem;
}

/* ===================================== CONTACT SECTION ========================== */
.contact-section {
  margin-left: 25rem;
}

.contact-section-title {
  margin-top: 1.1em;
  text-align: center;
  font-size: 6rem;
  font-weight: 200;
  color: var(--secondary-color);
}

.contact-underline {
  width: 40%;
  height: 0.3em;
  margin: 0 auto;
  background-color: var(--optional-color);
  margin-top: 0.5em;
  border-radius: 1em;
}

.contact-form {
  width: 50%;
  background-color: var(--secondary-color);
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 8rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
  border-radius: 5px;
}
/*  add functionality with JS */
.display-message {
  width: 80%;
  height: 6rem;
  background-color: #52b788;
  margin: 0 auto;
  visibility: visible;
  position: relative;
  border-radius: 5px;
  visibility: hidden;
}

.display-message p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  font-size: 3rem;
  padding: 2rem 0;
  color: var(--grey-color-2);
}

.input-container {
  width: 100%;
  padding: 1.5rem 0;
}

.input-container label {
  font-size: 2rem;
  /* add inline block so that i can apply margin */
  display: inline-block;
  margin-bottom: 1rem;
}
.form input,
.form textarea {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 5px;
  outline: none;
  resize: none;
  font-size: 2rem;
}

.button-container {
  width: 100%;
  margin-bottom: 1rem;
}

/*  Add success message or error message on Submit */
.submit-btn {
  display: inline-block;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 5px;
  outline: none;
  font-size: 2rem;
  background-color: var(--primary-color);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  color: var(--grey-color-2);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  cursor: pointer;
}

/* ===================================== FOOTER SECTION =============================== */
.footer {
  margin-left: 25rem;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-evenly;
}

.contact-information {
  margin-left: -7rem;
}

.contact-information p {
  font-size: 1.25rem;
  /* center text with icon */
  padding-top: 0.55rem;
}

.contact-information i {
  display: inline-block;
  font-size: 3rem;
  margin-right: 1.5rem;
  /* vertical-align: middle; */
  color: var(--optional-color-2);
}

.address,
.phone-number,
.email-address {
  display: flex;
  padding: 1rem 0;
  align-items: center;
}

.fa-arrow-circle-up {
  font-size: 10rem;
  color: var(--primary-color);
  padding-top: 2rem;
}

.fa-arrow-circle-up:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.copyright {
  font-size: 2rem;
  padding-top: 6rem;
}

.copyright span {
  font-size: 2rem;
}

.copyright-icon {
  vertical-align: middle;
}

.fa-coffee,
.fa-heart {
  font-size: 2rem;
  padding: 0 0.5rem;
  color: var(--optional-color-2);
}
